.book-btn {
    display: inline-block;
    margin-top: 10px;
    background: #003366;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: .3s;
  }
  
  .book-btn:hover {
    background: #0057aa;
  }
  