


body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            background: #ffffff;
        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 90%;              
            z-index: 999;      
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px 60px;
            background: #ffffff;
            border-bottom: 1px solid #e5e5e5;
        }
        .nav-links a {
            text-align: center;
            position: relative;
            padding-bottom: 5px;
            font-weight: 500;
            transition: 0.3s;
        }
        
        .nav-links a.active {
            color: #0077ff;
        }
        
        .nav-links a.active::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: #0077ff;
            border-radius: 5px;
        }
        
        .logo {
            display: flex;
            align-items: center;
        }

        .logo img {
            width: 44px;
            margin-right: 10px;
        }

        .logo span {
            font-size: 22px;
            font-weight: 600;
            color: #004c94;
        }

        .nav-links a {
            margin: 0 18px;
            text-decoration: none;
            color: #004c94;
            font-weight: 500;
        }

        .login-btn {
            background: #005bbb;
            color: white;
            padding: 10px 22px;
            border-radius: 6px;
            text-decoration: none;
            font-weight: 500;
        }

        /* HERO SECTION */
        .hero {
            display: flex;
            padding: 80px 60px;
            align-items: center;
            background: #eef6ff;
        }

        .hero-text {
            flex: 1;
        }

        .hero-text h1 {
            font-size: 42px;
            color: #003e74;
            margin-bottom: 20px;
        }

        .hero-text p {
            font-size: 17px;
            color: #3d3d3d;
            margin-bottom: 30px;
        }

        .hero-text a {
            background: #005bbb;
            padding: 14px 24px;
            color: white;
            border-radius: 6px;
            text-decoration: none;
            font-size: 16px;
        }

        .hero-image img {
            width: 340px;
        }

        /* FEATURES SECTION */
        .features {
            display: flex;
            justify-content: space-around;
            padding: 60px 40px;
            text-align: center;
        }

        .feature-box {
            width: 30%;
        }

        .feature-box img {
            width: 50px;
            margin-bottom: 15px;
        }

        .feature-box h3 {
            font-size: 22px;
            color: #003e74;
        }

        .feature-box p {
            font-size: 15px;
            color: #555;
        }

        /* ABOUT SECTION */
        .about {
            padding: 60px 60px;
            background: #f7f7f7;
        }

        .about h2 {
            color: #003e74;
            font-size: 32px;
        }

        .about p {
            width: 70%;
            font-size: 16px;
            color: #444;
            line-height: 1.6;
        }

        /* FOOTER */
        .footer {
            padding: 20px;
            text-align: center;
            background: #003e74;
            color: white;
            margin-top: 40px;
        }
		
		
/* DASHBOARD GENERAL */
.dashboard-container {
    padding: 60px;
}

.dash-title {
    font-size: 50px;
    padding:5%;
    color: #003e74;
    margin-bottom: 40px;
    text-align: center;
}

/* DASHBOARD GRID */
.dashboard-grid {
    display: flex;
    gap: 35px;
    justify-content: center ;
    flex-wrap: wrap;
}

.dash-card {
    width: 30%;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.06);
    border: 1px solid #e6e6e6;
}

.dash-card h3 {
    font-size: 20px;
    color: #003e74;
    margin-bottom: 12px;
}

.dash-card p {
    color: #555;
    margin-bottom: 18px;
}

.btn-small {
    display: inline-block;
    padding: 10px 18px;
    background: #005bbb;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    align-items: right;
    text-decoration: none;
}

.btn-small:hover {
    background: #004c94;
}
